.cart {
    position: relative;
    &__image {
        width: 60px;
    }
    &__count {
        position: absolute;
        right: -10px;
        bottom: -10px;
        z-index: 1;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 700;
        background-color: $active-color;
        border-radius: 50%;
    }
}
