@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    color: $text-main-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    font-family: Roboto sans-serif;
}

.main {
    padding: 70px 0;

    &__thumb {
        @extend %main-container;
    }
}
